{% load compressed %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="description" content="Transit Near Me helps you find transit options near your location.">
<meta name="robots" content="noarchive">
<title>Transit Near Me</title>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="{{ STATIC_URL }}images/CPlogo.png" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}jquery.mobile.simpledialog.min.css" />
{% compressed_css 'tnm' %}
<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}leaflet.ie.css" /><![endif]-->
<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
<script src="{{ STATIC_URL }}jquery.mobile.simpledialog.min.js"></script>
<script type="text/javascript">
var tnm_tile_server = {
    'url': '{{ tile_server.url|escapejs }}',
    'subdomains': '{{ tile_server.subdomains|escapejs }}',
    'max_zoom': {{ tile_server.max_zoom|escapejs }},
    'attribution': '{{ tile_server.attribution|escapejs }}'
};
</script>
{% compressed_js 'tnm' %}
<!--[if lte IE 6]><script src="{{ STATIC_URL }}warning.js"></script><script>window.onload=function(){e("{{ STATIC_URL }}images/")}</script><![endif]-->
</head>

<body>
<noscript>
<div id="noscript-padding"></div>
<div id="noscript-warning">Transit Near Me requires a JavaScript-enabled browser. <a href="https://www.google.com/support/adsense/bin/answer.py?answer=12654" target="_blank">Not sure how to enable it?</a></div>
</noscript>
<div class="page" data-role="page" id="home" data-theme="a">

    <div class="ui-header" data-role="header">
        <div id="tnm-header">
            <a href="http://commuterpage.com" target="_blank" id="cp-header" title="CommuterPage.com">CommuterPage.com</a>
            <h1 class="ui-title">Transit Near Me</h1>
            <a href="#info" data-role="button" data-rel="dialog" data-transition="pop" data-icon="info" data-iconpos="notext" style="position: absolute; right: 44px; top: .4em;" >Info</a>
            <a href="#options" data-role="button" data-rel="dialog" data-transition="pop" data-icon="gear" data-iconpos="notext" style="position: absolute; right: 10px; top: .4em;" >Options</a>
        </div>
    </div>
    <div class="content" data-role="content">
        <div id="map"></div>
    </div>
</div>

<div data-role="page" id="options">
    <div data-role="header">
        <h1>Options</h1>
    </div>
    <div data-role="content" data-theme="d">
        <div data-role="fieldcontain">
            <fieldset data-role="controlgroup">
                <legend>Radius:</legend>
                    <input type="radio" name="radius-button" id="radius-quarter" value="402.25" /><label for="radius-quarter">1/4 mile</label>
                    <input type="radio" name="radius-button" id="radius-half" value="804.5" checked="checked" /><label for="radius-half">1/2 mile</label>
                    <input type="radio" name="radius-button" id="radius-mile" value="1609" /><label for="radius-mile">1 mile</label>
                    <input type="radio" name="radius-button" id="radius-2miles" value="3218" /><label for="radius-2miles">2 miles</label>
            </fieldset>
        </div>
        <p><a href="#home" data-rel="back" data-role="button" data-inline="true" data-icon="back">Back</a>
        </p>
    </div>
</div>

<div data-role="page" id="info">
    <div data-role="header">
        <h1>About</h1>
    </div>
    <div data-role="content" data-theme="d">
        <div>
            <h2>What is Transit Near Me?</h2>
            <p>Transit Near Me is an online tool that shows you the transit services, like buses and Metro rail, that serve your immediate area (or any other area you choose). Double-click or double-tap in an open area of the map to center your "circle" on that spot, and see all the transit services which stop inside the circle. Zoom out to see all the places those transit services go. Click on an individual stop to see which lines serve it. Click on an individual line to see where it goes.</p>
            <h2>Who created it?</h2>
            <p>Transit Near Me is being developed by the Mobility Lab Tech Transit Initiative, a project in the Washington, DC area to foster collaboration among software developers and create open source tools that help people better understand their transit options.</p>
            <p> Thanks to open data, where many transit agencies in our region and around the nation make their routes and schedules available to anyone for free, it's possible to build many useful applications that help people get around by transit and other modes.</p>
            <p>The Mobility Lab is part of Arlington County Commuter Services. This and other tools will eventually become part of <a href="http://commuterpage.com" target="_blank">CommuterPage.com</a>, the regional resource for transit and travel information.</p>
            <a href="http://commuterpage.com" target="_blank" id="cp-logo" title="CommuterPage.com">CommuterPage.com</a>
            <h2>Why don't you add more features?</h2>
            <p>We plan to! In the spirit of open source development, we want to show you what we are working on early in the evolution of this tool. We think this has some very useful features already, and want to give you a chance to try it out. Meanwhile, we're working on a number of additional features to make it even more helpful.</p>
            <p>That shouldn't stop you from telling us your thoughts. We welcome your input on how to improve Transit Near Me in the future, and which features to prioritize most highly. Please send us your feedback at <a href="mailto:contact@transitnearme.com?subject=Feedback%20from%20transitnearme.com">contact@transitnearme.com</a>.</p>
            <h2>Anything else I should know?</h2>
            <p>Transit Near Me maps are powered by <a href="http://leaflet.cloudmade.com" target="_blank">Leaflet</a>. {{ tile_server.attribution|safe }} <a href="http://dev.jtsage.com/jQM-SimpleDialog/" target="_blank">jQM-SimpleDialog plugin</a> by JTSage, <a href="http://creativecommons.org/licenses/by/3.0" target="_blank">CC-BY</a>.</p>
            <p>For those interested in helping us make Transit Near Me better, the code is available <a href="https://github.com/MobilityLab/TransitNearMe" target="_blank">as open source</a>. We welcome contributions from any interested programmers.</p>
            <p>Transit information provided by Transit Near Me is for planning purposes only, and may not reflect real-time service availability. Please consult with local transit agencies for any service changes and outages, and plan your trips accordingly.</p> 
        </div>
        <p><a href="#home" data-rel="back" data-role="button" data-inline="true" data-icon="back">Back</a>
    </div>
</div>
</body>
</html>
