<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>Metro Wait Times - Mobility Lab</title>
</head>
<body>
{% for wait in waits %}
<div>
<div style="width: 500px; float: left;">{{ wait.location_name }} | {{ wait.line }} | {{ wait.destinations }} |</div><div><span class="inlinesparkline">{{ wait.wait_times }}</span></div>
</div>
{% endfor %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="http://www.omnipotent.net/jquery.sparkline/1.6/jquery.sparkline.min.js"></script>
<script type="text/javascript">
$(function() {
	$('.inlinesparkline').sparkline('html', { 
		width: '200px', 
		spotColor: false, 
		minSpotColor: false, 
		maxSpotColor: false,
		chartRangeMin: 0, 
		chartRangeMax: 20,
	});
});
</script>
</body>
