/* TNM CSS */
html, body { 
    height: 100%; 
    width: 100%; 
    padding: 0; 
    margin: 0; 
}
.page, .content { 
    padding: 0; 
    margin: 0; 
    height: 100%; 
}
#map { 
    padding: 0; 
    margin: 0; 
    height: 100%;
    width: 100%; 
}
.ui-dialog .ui-header { 
    margin-top: 15px; 
}
.leaflet-popup-content { 
    color: black; text-shadow: none; 
}
