/* TNM CSS */
html, body { 
    height: 100%; 
    width: 100%; 
    padding: 0; 
    margin: 0; 
}
.page, .content { 
    padding: 0; 
    margin: 0; 
    height: 100%; 
}
#map { 
    padding: 0; 
    margin: 0; 
    height: 100%;
    width: 100%; 
}
.ui-dialog .ui-header { 
    margin-top: 15px; 
}
.leaflet-popup-content { 
    color: black; text-shadow: none; 
}
#noscript-padding {
	padding-top: 25px;
}
#noscript-warning {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	line-height: 24px;
	border-bottom: 1px solid #000;
	text-align: center;
	z-index: 9999;
	background-color: #777;
	color: #fff;
}
#noscript-clicky {
	font-size: 1px;
	line-height: 1px;
}
#tnm-header {
    overflow: hidden;
    width: 100%;
    display: block;
}
#cp-header {
    width: 52px;
    height: 20px;
    display: block;
    position: absolute;
    left: 10px;
    top: .6em;
    background-image:url('images/CPage_white20px.png');
    text-indent: -9999px;
}
#cp-logo {
    width: 200px;
    height: 80px;
    display: block;
    margin: 12px;
    background-image:url('images/CommuterPageLogo.png');
    text-indent: -9999px;
    margin: 0 auto;
}
