/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
        line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}

/* TNM CSS */
html, body { 
    height: 100%; 
    width: 100%;
    padding: 0; 
    margin: 0; 
}
.page, .content {
    padding: 0; 
    margin: 0; 
}
.content {
    height: 100%;
}
#map { 
    padding: 0; 
    margin: 0; 
    height: 100%;
    width: 100%;
}
.ui-dialog .ui-header { 
    margin-top: 15px; 
}
.ui-footer .ui-field-contain {
    margin: 0 45px 0 5px;
    padding: 5px 0;
    border: none;
}
.leaflet-popup-content { 
    color: black; text-shadow: none; 
}
#noscript-padding {
        padding-top: 25px;
}
#noscript-warning {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        line-height: 24px;
        border-bottom: 1px solid #000;
        text-align: center;
        z-index: 9999;
        background-color: #777;
        color: #fff;
}
#noscript-clicky {
        font-size: 1px;
        line-height: 1px;
}
#tnm-header {
    overflow: hidden;
    width: 100%;
    display: block;
}
#tnm-footer {
    text-align: center;
}
#cp-header {
    width: 52px;
    height: 20px;
    display: block;
    position: absolute;
    left: 10px;
    top: .6em;
    background-image:url('images/CPage_white20px.png');
    text-indent: -9999px;
}
#cp-logo {
    width: 200px;
    height: 80px;
    display: block;
    margin: 12px;
    background-image:url('images/CommuterPageLogo.png');
    text-indent: -9999px;
    margin: 10px auto;
}
.ui-content p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.ui-content h2 {
    font-weight: bold;
    font-size: 120%;
}
.leaflet-popup-content-wrapper {
    background: #111;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.leaflet-popup-close-button, .leaflet-popup-tip {
    background-color: #111;
}
.leaflet-popup-content {
    color: #fff;
}
.leaflet-popup-content h1 {
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
}
.leaflet-popup-content h2 {
    font-weight: bold;
    text-decoration: underline;
    margin-top: 5px;
}
.tnm-stop-prediction-list {
    padding-bottom: 20px;
}
.tnm-stop-prediction-route {
    clear: both;
}
.tnm-stop-prediction-waits {
    float: right;
}
.tnm-stop-prediction-waits li {
    float: left;
    margin-right: 10px;
}
.tnm-segment-list {
}
.tnm-stop-service-list {
}
.ui-simpledialog-header {
    margin: 10px;
    font-weight: bold;
}
.ui-simpledialog-subtitle {
    margin: 20px;
}
.ui-simpledialog-notification {
    margin: 20px;
    text-align: center;
}
.ui-simpledialog-notification p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.ui-simpledialog-screen-modal {
    -moz-opacity: 0.3;
    opacity: .30;
    filter: alpha(opacity=30);
}
