# Copy to local_settings.py and modify as needed.
# See https://docs.djangoproject.com/en/dev/ref/settings/ for reference.

DEBUG = True
TEMPLATE_DEBUG = DEBUG

SITE_ID = 1

# Django secret key.
# Make this unique, and don't share it with anybody.
# Generate one at http://www.miniwebtool.com/django-secret-key-generator/
SECRET_KEY = ''

# Django database configuration.
DATABASES = {
	'default': {
		'ENGINE': 'django.contrib.gis.db.backends.postgis',
		'NAME': '',
		'USER': '',
		'PASSWORD': '',
	}
}

# Site admins.
ADMINS = (
	# ('John Doe', 'john@example.com'),
)
MANAGERS = ADMINS

# Absolute path to the directory static files should be collected to.
STATIC_ROOT = ''

# django-pipeline settings.
PIPELINE = not DEBUG
PIPELINE_AUTO = False
PIPELINE_VERSION = True

# Transit APIs.
# See transit.apis.get_apis for examples.
TRANSIT_APIS = {
#    'Name': (
#        'transitapis.apis.module.ClassName',
#        { 'option-name': 'option-value', }
#    ),
}

# Client tile server settings.
# Verify proper licensing/attribution before using.
TILE_SERVERS = {
    # MapQuest-OSM (http://developer.mapquest.com/web/products/open/map)
    'mapquest-osm': {
        'url': 'http://otile{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
        'subdomains': '1234',
        'max_zoom': 18,
        'attribution': 'Map data &copy; <a href="http://www.openstreetmap.org" target="_blank">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>. Tiles courtesy of <a href="http://www.mapquest.com" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png" alt="MapQuest" />.'  
    },
    # CloudMade-OSM (http://developers.cloudmade.com/projects/tiles/documents)
    'cloudmade-osm': {
        'url': 'http://{s}.tile.cloudmade.com/%(api_key)s/%(style_id)s/%(tile_size)s/{z}/{x}/{y}.png' % { 
            'api_key': '',
            'style_id': 1,
            'tile_size': 256
        },
        'subdomains': 'abc',
        'max_zoom': 18,
        'attribution': 'Map data &copy; <a href="http://www.openstreetmap.org" target="_blank">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>. Map tiles &copy; <a href="http://cloudmade.com" target="_blank">CloudMade</a> - <a href="http://cloudmade.com/terms_conditions">Terms of Use</a>.'
    }
}
TILE_SERVER = TILE_SERVERS['mapquest-osm']

# Transit Near Me configuration parameters

# How far the nearest stop needs to be for the query to return that there
# is no nearby transit coverage for a given location.
TNM_COVERAGE_AREA_DISTANCE_THRESHOLD_IN_MILES = 50

# Geocoder key to use on the client, if needed.
TNM_GEOCODER_KEY = ''
