<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
<title>Transit Near Me</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}leaflet.ie.css" /><![endif]-->
<link rel="stylesheet" href="{{ STATIC_URL }}tnm.css" />
<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
<script src="{{ STATIC_URL }}leaflet.js"></script>
<script src="{{ STATIC_URL }}tnm.js"></script>
</head>

<body>
<div class="page" data-role="page" id="home" data-theme="a">

	<div class="header" data-role="header">
		<h1>Transit Near Me</h1>
		<p>
			<a href="#options" data-role="button" data-rel="dialog" data-transition="pop" data-icon="gear" class="ui-btn-right">Options</a>
		</p>
	</div>
	<div class="content" data-role="content">
		<div id="map"></div>
	</div>
</div>

<div data-role="page" id="options">
	<div data-role="header">
		<h1>Options</h1>
	</div>
	<div data-role="content" data-theme="d">
		<div data-role="fieldcontain">
			<fieldset data-role="controlgroup">
				<legend>Radius:</legend>
					<input type="radio" name="radius-button" id="radius-quarter" value="402.25" /><label for="radius-quarter">1/4 mile</label>
					<input type="radio" name="radius-button" id="radius-half" value="804.5" checked="checked" /><label for="radius-half">1/2 mile</label>
					<input type="radio" name="radius-button" id="radius-mile" value="1609" /><label for="radius-mile">1 mile</label>
					<input type="radio" name="radius-button" id="radius-2miles" value="3218" /><label for="radius-2miles">2 miles</label>
			</fieldset>
		</div>
		<p><a href="#home" data-rel="back" data-role="button" data-inline="true" data-icon="back">Back</a>
		</p>
	</div>
</div>

</body>
</html>
