<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=no">
<!--
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
-->
<title>Transit Near Me - Mobility Lab</title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}leaflet.css" />
<style type="text/css">
html, body { height: 100%; width: 100%; padding: 0; margin: 0; }
.page, .content { padding: 0; margin: 0; height: 100%; }
#map { padding: 0; margin: 0; height: 100%; width: 100%; }
.ui-dialog .ui-header { margin-top: 15px; }
.leaflet-popup-content { color: black; text-shadow: none; }
</style>
<!--[if lte IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}leaflet.ie.css" /><![endif]-->
</head>
<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.js"></script>
<script src="{{ STATIC_URL }}leaflet.js"></script>
<script src="{{ STATIC_URL }}transit.js"></script>
<script type="text/javascript">
$(function() {
	var mapElementName = 'map',
		getRadius = function()  { 
			return $('input:radio[name=radius-button]:checked').val(); 
		},
		map = Transit.addMap(
			'Leaflet', 
			mapElementName,
			{ 
				'lat': 38.89706, 
				'lng': -77.07092, 
				'radius': getRadius() });

	map.addCallback({
		types: ['dblclick', 'center'],
		apiCall: Transit.API.getNearby,
		extraParams: { 'radius_m': getRadius },
		before: function(e) {
			if (e.type != 'center') {
				map.center(e.latlng);
			}
			map.radius(e.latlng, getRadius());
			$.mobile.showPageLoadingMsg();
		},
		after: function(e, data) {
			map.radius(e.latlng, getRadius());
			map.overlay(data, 'nearby');
			$(window).resize();
			$.mobile.hidePageLoadingMsg();
		}
	});	
	
	$('#options').live('pagehide', function(e) {
		map.center();
	});

	$(window).bind("orientationchange resize pageshow", function() {
		scroll(0, 0);
		var viewport_height = window.innerHeight,
			header = $(".header:visible"),
			content = $(".content:visible");
		content.height(viewport_height - header.outerHeight());
	});
	
	Transit.tryGeolocating(
		function(latlng) { map.center(latlng); },
		function(error) { map.center(); });
});
</script>
</head>

<body>
<div class="page" data-role="page" id="home" data-theme="a">

	<div class="header" data-role="header">
		<h1>Transit Near Me</h1>
		<p>
			<a href="#options" data-role="button" data-rel="dialog" data-transition="pop" data-icon="gear" class="ui-btn-right">Options</a>
		</p>
	</div>
	<div class="content" data-role="content">
		<div id="map"></div>
	</div>
</div>

<div data-role="page" id="options">
	<div data-role="header">
		<h1>Options</h1>
	</div>
	<div data-role="content" data-theme="d">
		<div data-role="fieldcontain">
			<fieldset data-role="controlgroup">
				<legend>Radius:</legend>
					<input type="radio" name="radius-button" id="radius-quarter" value="402.25" /><label for="radius-quarter">1/4 mile</label>
					<input type="radio" name="radius-button" id="radius-half" value="804.5" checked="checked" /><label for="radius-half">1/2 mile</label>
					<input type="radio" name="radius-button" id="radius-mile" value="1609" /><label for="radius-mile">1 mile</label>
					<input type="radio" name="radius-button" id="radius-2miles" value="3218" /><label for="radius-2miles">2 miles</label>
			</fieldset>
		</div>
		<p><a href="#home" data-rel="back" data-role="button" data-inline="true" data-icon="back">Back</a>
		</p>
	</div>
</div>

</body>
</html>
